
py-ubjson==0.8.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.4.7
pydot==1.2.3
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.6.1